.nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
  }
  
  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
    flex: 1;
  }