@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Aboreto-Regular';
  src: url('./fonts/Aboreto-Regular.ttf');
}

@font-face {
  font-family: 'Bebas';
  src: url('./fonts/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/IBMPlexSansKR-Light.ttf');
}